@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --bgclr: #E1E5F2;
    --nbclr: #1F7A8C;
    --dbclr: #022B3A;
}  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 img {
    max-width: 100%;
}

 body {
    font-family: "Outfit", sans-serif;    
    font-size: 15px;
    background-color: var(--bgclr);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    padding-top: 80px;
}

.container {
    background-color: var(--white);
    padding: 60px;
    border-radius: 0.625rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.03);
    margin-bottom: 2rem;
    text-align: center;
}

.container img {
    border-radius:0.625rem;
    margin-bottom: 1rem;
}

.container h1 {
    color: var(--white);
    text-align: center;
    margin-bottom: 1rem;
}

.container p{
    color: var(--grayish-blue);
    text-align: center;

}
.attribution {
    font-size: 14px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 500px){
    .container{
        width: 600px;
    }
}
.butoi{
    background-color:var(--nbclr);
    border-radius: 0.3rem;
    font-size: 20px;
    padding: 10px;
    border: none;
    font-family: "Outfit", sans-serif;  
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--nbclr);
    z-index: 10;
    flex-wrap: wrap;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    background:var(--nbclr);
    padding: 20px 15px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.nav-links li{
    list-style: none;
    margin: 0 10px;
}

.nav-links li a{
    position: relative;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
}

.nav-links li a:before{
    content: '';
    position:absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: var(--bgclr);
    transition: all 0.4s ease;
}

.nav-links li a:hover:before{
    width: 100%;
}

.file-input{
    display: none;
}

.file-label{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--nbclr);
    color: white;
    font-size: 14px;
    font-family: inherit; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
    margin: 10px;
}

.file-label:hover {
    background-color: var(--dbclr);
}
.icons{
    display: flex;
    padding: 15px 0;
}
.icons li{
    display: block;
    padding: 5px;
    margin: 5px;
}
.icons li i{
    font-size: 26px;
    opacity: 0.8;
}
.icons li i:hover{
    color: var(--bgclr);
}

.navbar .hello{
    position: fixed;
    height: auto;
    left: 10px;
    width: 160px;
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        flex-direction: column; 
        gap: 10px;
    }

    .navbar .logo {
        margin-bottom: 10px; 
        max-height: 40px; 
    } 
}