<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/minilogo.png"/>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="static/script.js"></script>
    <title>Recap It</title>
  </head>

  <body>
    <div class="navbar">
      <a href="/display"></a><img src="static/images/logotaiat.png" class="hello" alt="sorry"/>
      <ul class="nav-links">
        <li><a href = "/display">Home</a></li><!--Prezentare generala-->
        <li><a href = "/newlearn">New Learn</a></li><!--Unde dai upload-->
        <li><a href= "/learning">Learning</a></li><!--Colectia de foldere cu poze la random si cand dai select la pozele pe care le vrei in session-ul resp ti se deschide un dinala nou-->
        <li><a href = "/about">About</a></li>
      </ul>
    </div>
    <section>
      <div class="content">
        <h2>IN PROGRESS</h2>
      </div>
    </section>
    <footer id="newsletter">
      <div class="row">
        <div >
          <div class="footer-widget">
            <h4>Contact Me</h4>
            <p>Timisoara, Romania</p>
            <p><a href="#">+40751759037</a></p>
            <p><a href="#">biancabadescu@gmail.com</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="copyright-text">
        <p>Copyright © 2024 Bianca Badescu. All Rights Reserved. 
      </div>
      <div class="attribution">
        Coded by <a href="https://github.com/b14labutoane">Bianca Badescu</a>.
      </div>
    </div>
  </footer>
  </body>
</html>
