<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png"/>
    <link rel="stylesheet" href="static/style.css" />
    <script src="static/script.js"></script>
    <title>Recap It</title>
  </head>

  <body>
    <div class="container">
      <img id="dapoza" src="static/images/firstimage.png" alt="trebuia sa fie o imagine sorry"/>
      <h2>Random exercises</h2>
      <button class="butoi" onClick="changeImage()">Click aici</button>
      <p>Press the button for a random exercise</p>
    </div>
    <div class="attribution">
      Coded by <a href="https://github.com/b14labutoane">Bianca Badescu</a>.
    </div>
  </body>
</html>
