<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/minilogo.png"/>
    <link rel="stylesheet" href="static/style.css" />
    <script src="static/script.js"></script>
    <title>Recap It</title>
  </head>

  <body>
    <div class="navbar">
      <a href="/display"></a><img src="static/images/logotaiat.png" class="hello" alt="sorry"/>
      <ul class="nav-links">
        <li><a href = "/display">Home</a></li><!--Prezentare generala-->
        <li><a href = "/newlearn">New Learn</a></li><!--Unde dai upload-->
        <li><a href= "/learning">Learning</a></li><!--Colectia de foldere cu poze la random si cand dai select la pozele pe care le vrei in session-ul resp ti se deschide un dinala nou-->
        <li><a href = "/about">About</a></li>
      </ul>
    </div>
    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6 align-self-center">
                <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                  <div class="row">
                    <div class="col-lg-12">
                      <h2>Learn It. Recap It. Know It.</h2>
                      <p>Recap It is an innovative educational app designed to transform the way you learn.
                        The app splits your uploaded PDFs into manageable sections and randomizes sets of exercises to create engaging practice session.
                        Perfect for students, teachers, or anyone looking to reinforce their knowledge, Recap It makes reviewing material easy and effective.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                  <img src="assets/images/slider-dec.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
